/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding:3px;
    padding-right: 5px;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 8px;
}


/* Debug Style
.hljs-ln-code[data-line-number="6"]{
  border-right: 2px solid red;
  border-left: 2px solid red;
}

.hljs-ln-code[data-line-number="10"]{
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  border-left: 2px solid red;
}
*/
